<div class="main">
  <div class="top-header">
    <div class="insideheader">
      <h4 class="subheader">Header <span>Component</span></h4>
    </div>
    <div class="button-sec">
      <button class=" backbutton" (click)="backwindow()">Back</button>
      <button class=" backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
    </div> 
  </div>
    <header>
        <div class="header" [ngStyle]="{'background-color':headerdata?.bgcolor}">
            <div class="div1">
              <div class="subdiv">
                <img [src]="img1" aria-label="APP logo" class="img1" [ngStyle]="{'display':headerdata?.image1}">
                <img [src]="whitewbh" aria-label="APP logo Icon" class="img1" [ngStyle]="{'display':headerdata?.whitewbh}">
              </div>
              <div class="subdiv1">
                <label class="label1" [ngStyle]="{'color':headerdata?.color}">{{headerdata?.title | uppercase}}</label>
              </div>
            </div>
            <div class="div2">
                <div class="sub-div">
                  <div class="username">
                    <img [src]="img2" class="img2" aria-label="Profile Icon" [ngStyle]="{'display':headerdata?.image2}">
                    <label class="label2" [ngStyle]="{'color':headerdata?.color}">{{headerdata?.welcome}}</label>
                  </div>
                  <!-- <div>
                    
                  </div> -->
                  <div class="capgeminilogo">
                    <img [src]="img3" class="img3" aria-label="Capgemini logo" [ngStyle]="{'display':headerdata?.image3}">
                    <img [src]="img4" class="img3" aria-label="Capgemini logo" [ngStyle]="{'display':headerdata?.image4}">
                  </div>
                </div>
            </div>
        </div>
        <!-- <div>
            <select [(ngModel)]=value (change)="handlechange(value)">
                <option *ngFor="let o of options">
                    {{o.name}}
                </option>
            </select>
        </div> -->
        </header>
        <div class="htmlelement">
          {{getHtmlContent()}}
        </div>
      </div>

<!-- <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4>Header</h4>
              <button class="clearbtn"  aria-label="Header Update modal close"  #myModalClose1 data-bs-dismiss="modal">
                  <img [src]="closeicon" class="closeicon">  
              </button>
          </div>
          <app-editheader (onclose)="close()"></app-editheader>

      </div>
  </div>
</div> -->

