
.tooltip_sec button.btn-secondary 
{
    margin:0px auto;
    display: block;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #0070ad;
}

.tooltipbtn {
    position: relative;
    display: inline-block;
    margin: 50px auto;
    display: block;
  }

  .subheader{
    color: #0070ad;
}
.component{
  color: black;
}

.backbutton{
  border-radius: 8px;
  background: #0070ad !important;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: white !important;
}
  
.tooltipbtn .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 20px;
    position: absolute;
    z-index: 1;
    border: 1px solid #ccc;
  }

  .tooltipbtn .topright {
    bottom: 130%;
    left: 55%;
    margin-left: -60px;
  }

span.tooltiptext.topleft {
    left: 40%;
    bottom: 130%;
    margin-left: -60px;
}

span.tooltiptext.bottomright {
    left: 55% !important;
    bottom: -84%;
    margin-left: -60px;
}

span.tooltiptext.bottomleft {
    left: 40% !important;
    bottom: -84%;
    margin-left: -60px;
}
span.tooltiptext.right {
    left: 68%;
    bottom:13%;
    margin-left: -60px;
}

span.tooltiptext.left {
    left: 35% !important;
    bottom: 23%;
    margin-left: -60px;
}

  
.tooltipbtn:hover .tooltiptext {
    visibility: visible;
}


  .tooltipbtn .tooltiptext::after {
    content: "";
    position: absolute;
    // top: 100%;
    // left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  



  .tooltipbtn .topleft::after {
    top: 100%;
    left: 50%;
    border-color: black transparent transparent transparent;
  }

  .tooltipbtn .topright::after {
    top: 100%;
    left: 50%;
    border-color: black transparent transparent transparent;
  }

  .tooltipbtn .bottomright::after {
    top:-27%;
    left: 50%;
    border-color: transparent transparent black transparent;
}

  .tooltipbtn .bottomleft::after {
    top: -27%;
    left: 50%;
    border-color: transparent transparent black transparent;
}

.tooltipbtn .right::after {
    top: 36%;
    left: -4%;
    border-color: transparent black transparent transparent;
}

.tooltipbtn .left::after {
    top: 36%;
    left: 105%;
    border-color: transparent transparent transparent black;
}


.ngdark{
    background-color:black !important;
    border-color:black;
}

.nglight{
    background-color:#F1F4F8 !important;
    color: #000 !important;
}

.ngblue{
    background-color:#0070ad !important;
    border-color:#0070ad transparent transparent transparent;

}

.ngpurple{
    background-color:#2b0a3d !important;
}

// .htmlelement{
//     background-color: white;
//     overflow-y: scroll;
//     width:90%;
//     height:400px;
//     margin: auto;
//     margin-top: 30px;
// }




@media only screen and (max-width: 767px) {
  .modal-dialog {
    margin-top: 60px;
    max-width: 100% !important;
}
h4.subheader {
  margin: 0px;
  font-size: 1.2rem;
}
}





