.subheader{
    color: #0070ad;
}
.btncmp{
    color: black;
}

.backbutton{
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white !important;
    background-color: #0070ad !important;
}
.htmlelement{
    background-color: white;
    overflow-y: scroll;
    width:90%;
    height:105px;
    margin: auto;
    margin-top: 30px;
}
.closeicon{
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    section.main header {
        padding: 1rem .85rem;
    }
    h4.subheader {
        margin: 0px;
        font-size: 1.2rem;
    }
    .text-center.main-page {
        line-break: anywhere;
    }
    .top-header button { 
        margin-left: 8px;
    }
    .modal-dialog {
        margin-top: 60px;
        max-width: 100% !important;
    }
}