.subheader{
    color: var(--color-wbh-blue);
}
.btncmp{
    color: var(--color-black);
}

.backbutton{
    border-radius: 8px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--color-white) !important;
    background-color:var(--color-wbh-blue) !important;
}
.htmlelement{
    background-color: var(--color-white) ;
    overflow-y: scroll;
    width:90%;
    height:200px;
    margin: auto;
    margin-top: 30px;
}
.closeicon{
    cursor: pointer;
}
.copybutton{
    text-align: end;
        margin-right: 40px;
        margin-top: 30px;
        button{
            border: 1.5px solid black;
            background: transparent;
            border-radius: 10px;
            padding: 5px 10px;
        }
        .copyicon{
            margin-right: 5px;
        }
}
.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    li:first-child{
        margin-right: 10px;
    }
    li{
        cursor: pointer;
        button{
            border: none;
            background: transparent;
            padding: 0px;
        }
    }
}

.active{
    border-bottom: 1px solid black !important;
    padding-bottom: 5px !important;
}
@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    section.main header {
        padding: 1rem .85rem;
    }
    .modal-dialog {
        margin-top: 60px;
        max-width: 100% !important;
    }
}