.date_time_pciker input {
    border: 0px;
    background: no-repeat;
}

.date_time_picker label {
    padding: 10px 0px;
}
.date_time_pciker {
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 0px 10px;
    background-color: #fff;
}

.date_time_pciker input {
    vertical-align: top;
    width: 100%;
    margin: 10px 0px;
}

.date_time_picker, .date_picker{
    width: 30%;
    margin: auto;
}