
.blue .carousel-item {
    background-color: #0070ad;
    height: 350px;
}

.carousel-caption {
    background-color:#00000091;
    width:100%;
    left:0%;
    bottom:0%;
}

.dark .carousel-item {
    background-color: #000;
    height: 350px;
}

.purple .carousel-item {
    background-color: #2b0a3d;
    height: 350px;
}
.light .carousel-item {
    background-color: #ccc;
    height: 350px;
}

.carousel {
    margin: auto;
    display: block;
}

.blue button.active, .blue .carousel-control-prev-icon, .blue .carousel-control-next-icon {

background-color: #0070ad;
}

.purple button.active, .purple .carousel-control-prev-icon, .purple .carousel-control-next-icon {

    background-color: #2b0a3d;
    }

    
.light button.active, .light .carousel-control-prev-icon, .light .carousel-control-next-icon {

    background-color: #ccc;
    }

// .carousel-inner.blue h5, .carousel-inner.blue p {
//     color: #0070ad;
// }



.dark button.active, .dark .carousel-control-prev-icon, .dark .carousel-control-next-icon {
    background-color: #000;
}
    
// .carousel-inner.dark h5, .carousel-inner.dark p {
//   color: #000;
// }