<div class="main">
    <div class="container-liquid">
      <div class="top-header">
        <div class="insideheader">
          <h4 class="subheader">Alert <span class="btncmp">Component</span></h4>
        </div>
        <div class="button-sec">
          <button class="backbutton" (click)="backwindow()">Back</button>
          <button class="backbutton" data-bs-toggle="modal" data-bs-target="#exampleModal2">Edit</button>
        </div> 
      </div>
      
    </div>
    <!-- <div class="htmlelement">
      <pre><code [highlight]="getHtmlContent()">{{getHtmlContent()}}</code></pre>
    </div> -->
  </div>
  
  <div class=" formbutton modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Button</h4>
                 <!-- <img [src]="closeicon" class="closeicon" #myModalClose2 data-bs-dismiss="modal">    -->
            </div>
            <!-- <app-editbutton  (onclose)="close()"></app-editbutton> -->
  
        </div>
    </div>
  </div>
  